@model  IEnumerable<Task_Client.ViewModel.InvoiceViewModel>

@*@model Task_Client.ViewModel.InsertInvoiceViewModel
*@@{

    ViewData["Title"] = "Page Product";
}

<div class="row">

    <div class="col-md-8 offset-md-2">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>TitleOfInvoice</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                     
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @invoice.Date.ToShortDateString()
                        </td>
                        <td class="align-middle">
                            @invoice.TitleOfInvoice
                        </td>

                        @foreach (var product in invoice.Products)
                        {
                               <td class="align-middle">
                                   @Html.DisplayFor(modelItem=>product.TitleOfProduct)
                               </td>
                               <td class="align-middle">
                                   @Html.DisplayFor(modelItem=>product.Quentity)
                               </td>
                               <td class="align-middle">
                                   @Html.DisplayFor(modelItem=>product.Price)
                               </td>
                        }
                    </tr>
                   
                     
                    
                    @*<tr>  
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id=""><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>*@
                }
            </tbody>
        </table>
    </div>
</div>
<button style="position:fixed; right: 25px; bottom:65px;" type="button" class="btn btn-info btn-lg text-white" data-toggle="modal" data-target="#myModal">Add Invoice</button>

@*popup--------------------------------------------------*@

<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                <!-- Modal -->
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-dialog modal-sm" style="display: inline-grid; align-items: center; justify-content: center;">
                                <div class="modal-content" style="width: 600px">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Products To Invoices</h4>
                                    </div>
                                    <div id="table-wrapper" >
                                        <div class="form-group">

                                        </div>
                                        <table id="product-table" style="margin: 20px 30px">
                                            <tbody>
                                                @Html.Partial("_ProductRow", new Task_Client.ViewModel.InvoiceViewModel())
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr />
                                    <div style="margin: 10px 20px;">
                                        <button id="add-row-btn" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Row</button>
                                        <button id="remove-row-btn" type="button" class="btn btn-primary"><i class="fa fa-plus-circle">Remove Row</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button style="position:fixed; right: 25px; bottom:65px;" type="button" class="btn btn-info btn-lg text-white" data-toggle="modal" data-target="#myModal">Add Invoice</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {



    <script>
        $(function () {
            $('#add-row-btn').click(function () {
                var firstRow = $('#product-table tr:first');
                var newRow = firstRow.clone();
                newRow.find('input').val('');
                $('#product-table').append(newRow);
            });

            $('#remove-row-btn').click(function () {
                var rows = $('#product-table tr');
                if (rows.length > 1) {
                    rows.last().remove();
                }
            });

            // Delete row from the table
            $(document).on('click', '.delete-row-btn', function () {
                $(this).closest('tr').remove();
            });
        });
    </script>
}
 
 
