@model Task_Client.Models.UserDisplayModel;

@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor;
@*@model IEnumerable< Task_Entities.Entities.User>*@

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style>
    #exampleModalCenter {
        opacity: 23434343332;
        z-index: 323232;
    }
</style>


<div class="container" style="margin-top:3%">
    @if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") != null && (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin").ToString() == "True"))
    {

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Add New User
        </button>
    }
    <div class="row">
        <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label class="visually-hidden" hidden for="sterm">UserName</label>
                <div class="input-group">
                    <div class="input-group-text"></div>
                    <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch by title">
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/User/Index" class="btn btn-dark">Reset</a>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <input type="submit" id="btnExport" value="Export" />
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Phone</th>
                @if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") != null && (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin").ToString() == "true"))
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem=>item.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem=>item.Email)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem=>item.Phone)
                    </td>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") != null && (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin").ToString() == "True"))
                    {
                        <td class="align-middle">
                            <input type="hidden" class="id" id="id" value="@item.Id" />
                            <a class="btn btn-outline-primary edit" href="#exampleModalCenter"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>


    @Html.Partial("AddPartialView", new UserDisplayModel())

    @Html.Partial("UpdatePartialView", new UserDisplayModel())

</div>










<script src="~/js/table2excel.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('table .edit').on('click', function () {
            debugger;
            var id = $(this).parent().find('.id').val();
            $.ajax({
                type: 'GET',
                url: '/User/Edit/' + id,
                success: function (user) {
                    debugger;
                    console.log(user);
                    //$('#exampleModalCenter input[name="id"]').val(student.studentId);
                    $('#UpdateUserModal input[name="FullName"]').val(user.fullName);
                    $('#UpdateUserModal input[name="UserName"]').val(user.userName);
                    $('#UpdateUserModal input[name="Email"]').val(user.email);
                    $('#UpdateUserModal input[name="Password"]').val(user.password);
                    $('#UpdateUserModal input[name="Phone"]').val(user.phone);

                    $('#UpdateUserModal').modal('show');
                }
            })
        })


        $("body").on('click', '#Update', function () {
            debugger;
                var obj = {};
            var id = $('#id').val();
                obj.Id = $(this).attr('data-id');

                $.ajax({
                    url: 'User/Edit',
                    data: JSON.stringify(obj),
                    type: 'POST',
                    dataType: 'html',
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                    $("#UpdateUserModal").modal("hide");
                }
                });
            });
        
    });

    $(function () {
        $("#btnExport").click(function () {
            $("#table").table2excel({
                filename: "Table.xls"
            });
        });
    });



</script>
