@model DAL.ViewModels.InvoiceViewModel


<tr>
    <td class="col-md-2">
        <label asp-for="@Model.Product.TitleOfProduct" class="control-label"></label>
        <input asp-for="@Model.Product.TitleOfProduct" id="txtTitleOfProduct" class="form-control" />
        <span asp-validation-for="@Model.Product.TitleOfProduct" class="text-danger"></span>
    </td>

    <td>
        <label asp-for="@Model.Product.Quentity" class="control-label"></label>
        <input asp-for="@Model.Product.Quentity" id="txtQuentity" class="form-control" />
        <span asp-validation-for="@Model.Product.Quentity" class="text-danger"></span>
    </td>
    <td>
        <label asp-for="@Model.Product.Price" class="control-label"></label>
        <input asp-for="@Model.Product.Quentity" id="txtPrice" class="form-control" />
        <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
    </td>
</tr>









